
@{
    ViewData["Title"] = "AllRequest";
    Layout = "_adminViewLayout";
    var allRequests = ViewData["allReqs"] as List<EmployeeRequest>;
}

<div class="my-10">
    Request status
    <select id="status-sel">
        <option value="">All</option>
        <option value="0">Pending</option>
        <option value="1">Approved</option>
        <option value="2">Rejected</option>
    </select>
    <button onclick="javascript: displayByStatus()" class="bg-purple-500 hover:bg-purple-700 text-white py-1 px-2 rounded">Set</button>
</div>

<table class="table-auto">
    <thead>
        <tr>
            <th class="px-4 py-2">No</th>
            <th class="px-4 py-2">From</th>
            <th class="px-4 py-2">Subject</th>
            <th class="px-4 py-2">Status</th>
        </tr>
    </thead>
    <tbody>
        @{ var i = 1;}
        @foreach (var r in allRequests)
        {
            <tr>
                <td class="border px-4 py-2">@i</td>
                <td class="border px-4 py-2">
                    <button class="btn" onclick="javascript: window.location.href='https://localhost:5001/EmpRequest/detail?id=@r.Id'">
                        @r.From
                    </button>
                </td>
                <td class="border px-4 py-2">@r.Subject</td>
                <td class="border px-4 py-2">@r.ApprovalStatus</td>
            </tr>
            i++;
        }
    </tbody>
</table>



@section Scripts
{
<script>
    function displayByStatus() {
            var status = $('#status-sel').val();

            var url = 'https://localhost:5001/EmpRequest/allrequest?status=' + status;

            window.location.href = url;
        }
</script>
}