
@{
    ViewData["Title"] = "Index";
}

    <form action="javascript: uploadPhoto()" enctype="multipart/form-data">
        <div id="img-preview">
            <img id="img-prev-thumb" style="display:none" />
        </div>
        <label for="_Photo">Photo</label>
        <input type="file" id="_Photo" name="_Photo" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded p-1 mb-3 leading-tight focus:outline-none focus:bg-white" />
        <button class="bg-purple-500 hover:bg-purple-700 text-white py-1 px-2 rounded" type="submit">Upload</button>
    </form>

